@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* font-family: "Open Sans", sans-serif; */


/* shareed */
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    font-family:"Open Sans", sans-serif ;
    padding: 9px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}
.btn-primary:hover{
    background-color: #dbb79d;

}
.section-title{
    font-size: 30px;
    font-weight: bold;
    font-family:"Open Sans", sans-serif ;
    color: black;
}
.section-description{
    font-size: 15px;
    font-family:"Open Sans", sans-serif ;
    color: #474747;
}
.comon-bg{
    background-color: #FFF8F3;
}
/* header */
header{
    background-image: url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: auto 600px;
    
}
/* nav style */
nav{
    display: flex;

    justify-content:space-between;
    
}
nav ul li {
    list-style: none;
    margin-right: 50px;

}
.nav-title{
    font-weight: 800;
    font-size: 24px;
    margin-left: 100px;

}

nav ul li a{    
    text-decoration: none;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    
    color: #474747;
}
nav ul{
    display: flex;
    align-items: center;
    
    
}
/* banner style */
.banner{
    display: flex;
   
    justify-content: space-between;
    height: 600px;
    background-image: url(../images/header_bg.png) ;
    background-size: 600px 400px;
    background-repeat: no-repeat;
    background-position:bottom right;
}
.banner-content{
    width: 400px;
    margin-left: 100px;
   margin-top: 100px;
    
}
.subtitle{
    font-weight: 500;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: #474747;
}
.banner-content .title{
    font-weight: 800;
    font-size: 50px;
    font-family: "Open Sans", sans-serif;
}
.banner-content .dis{
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    color: #474747;

}
.banner-profile{
    width: 400px;
    height: 500px;
    margin-top:100px;
}
/* main style */
main{
    max-width: 1150px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/*  about style */
.about{
    border-radius: 10px;
    padding: 100px 150px;
    text-align: center;
    
}
.about-bg{
    border: 2px solid black;
    background-color: aliceblue;
}
.about-items{
    display: flex;
    justify-content:space-around;
}
.item-ditl{
    font-weight: 600;
    font-family:"Open Sans", sans-serif;
}
.item-title{
    color: #474747;

}
/* skills style */
 .skills .section-title{
    text-align: center;
 }
.skills .section-description{
    text-align:center;
}
/* .skills{
    width: 70%;
    margin: 0 auto; */

 
 .skill{
    width: 200px;
    height: 300px;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-bottom: 5px;
    padding-top: 40px;
    padding-left: 20px;
    box-shadow: 0px 6px 50px 0px #000000;
 }
 .skill .skill-dis{
    font-family:"Open Sans", sans-serif;
    color:#474747 ;
    font-size: 14px;

 }
 .skill .skill-title{
    font-family:"Open Sans", sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
 }
 .skills-item{
    display: flex;
    justify-content: space-around;
 }
 /* resume style */
 .resume-continer{
    display: flex;
    width: 700px;
    margin: 20px auto;
    gap: 20px;
 }
 .resume .section-title{
    text-align: center;

 }
 .exp-dis{
    font-family:"Open Sans", sans-serif;
    color: #757575;
    font-size: 10px;
 }
 .exp-subtitle{
    font-family:"Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #757575;
 }
 .exp-title{
    font-family:"Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 800;
    color: #474747;
 }
 .resume-colum-title{
    font-family:"Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 800;
    color:#474747;
 }
 .btn-cv{
    text-align: center;
    margin-top: 10px;
 }
 /* footer style */
 footer{
    padding: 130px 120px;
    display: flex;
    gap: 50px;
 }
 .footer-colum-title{
    font-family:"Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 800;
    color: #0c0c0c;

 }
 .footer-colum-dis{
    font-family:"Open Sans", sans-serif;
    color: #757575;
    font-size: 10px;

 }
 .footer-colum .input-name{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    display: block;
    border: none;
    margin-bottom: 20px;

 }
 .footer-colum .input-email{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    display: block;
    border: none;
    margin-bottom: 20px;

 }
 .input-text{
    width: 100%;
    border-radius: 5px;
    display: block;
    border: none;
 }